html,
body {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
/* navbar */
nav {
  display: flex;
  background-color: rgb(12, 197, 135);
  justify-content: space-around;
  color: rgb(198, 252, 255);
  align-items: center;
  height: 50px;
}
nav .logo {
  font-family: "Righteous", cursive;
  letter-spacing: 3px;
  font-size: 1.3em;
}
nav ul {
  display: flex;
  list-style: none;
  width: 40%;
  justify-content: space-between;
}
nav ul li a {
  color: rgb(198, 252, 255);
  text-decoration: none;
  font-size: 0.8em;
}

/* hamburger menu */

.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
}
.menu-toggle input {
  position: absolute;
  width: 45px;
  height: 28px;
  left: -12px;
  top: -7px;
  opacity: 0;
  cursor: pointer;
  z-index: 32;
}
.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: rgb(198, 252, 255);
  border-radius: 3px;
  transition: all 0.5s;
}

/* hamburger menu animation */
.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(45deg) translate(-1px, -1px);
}
.menu-toggle input:checked ~ span:nth-child(3) {
  opacity: 0;
  transform: scale(0);
}
.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(-45deg) translate(-1px, 0px);
}

/* responsive */

/* ukuran tablet */

@media screen and (max-width: 768px) {
  nav ul {
    width: 50%;
  }
}

/* ukuran mobile */

@media screen and (max-width: 576px) {
  .menu-toggle {
    display: flex;
  }
  nav ul {
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    height: 100vh;
    background-color: rgb(12, 197, 135);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: -1;
    transform: translateX(100%);
    transition: all 1s;
  }
  nav ul.slide {
    transform: translateX(0);
  }
}
