/* font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

/* color template 

primaryColor(text) = #000090
primaryColor(text) = #D1E6FE
secondaryColor(navbar) = #E4F1FF
secondaryColor(pink) = #F13692
*/

/* style / css code */
body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    background-image: url(img/bg.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 91.3vmax;
    transition: 0.5s;
}
nav, nav img{
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.navbar .nav-img{
    width: 100%;
    height: 100%;
    position: absolute;
    left: -1px;
    z-index: -1;
    opacity: 1;
}
.navbar .navbar-brand{
    font-weight: 600;
}
.navbar .navbar-nav .nav-item{
    margin-top: 0.2rem;
    margin-left: 1.5rem;
}
.navbar .navbar-nav .nav-item .nav-link {
    color: #E4F1FF;
    transition: 0.2s;
    border-bottom: 2px solid transparent;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
    border-bottom: 2px solid #E4F1FF;
}
.join-us-btn{
    color: #E4F1FF ;
    background-color:#F13692;
    border: 0;
    border-bottom: 2px solid #E4F1FF;
}
nav .join-us-btn:hover{
    color: #E4F1FF ;
    background-color:#F13692;
}
section#about, #home, #course, #timeline, #join{
    padding-top: 6rem;
}
.jumbotron{
    width: 100%;
    margin: 0 auto 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.text-container, .register-btn {
    width: 80%;
    height: fit-content;
    margin: auto;
    transform: scale(1.1);
    text-align: center;
}
.text-container h1{
    font-weight: bold;
}
.text-container h6{
    font-style: italic;
    font-weight: bold;
    font-size: .92rem;
}
.text-container p{
    font-size: 1.1rem;
}
.jumbotron .register-btn{
    width: 20%;
    margin-top: 30px;
    border-radius: 2em;
    border: 0;
    background-color:#ff0080;
    border: 1px solid transparent;
    transform: scale(1.14);
}
.jumbotron .register-btn:hover{
    color: #ff0080;
    background-color:white;
    border: 1px solid #ff0080;
}
.img-container{
    width: 100%;
    margin: auto;
}
.jumbotron .img-container .img{
    width: 480px;
    height: 480px;
}
.judul-about{
    font-weight:bold;
    text-transform: uppercase;
    font-style: italic;
    font-size: larger;
}
.akhir-about{
    position: absolute;
}
#course, #join{
    background-color: #D2E7FE;
}
#course .card{
    transition: 0.2s;
    border-radius: 1.2rem;
    background-color: transparent;
    border: transparent;
}
#course .card img{
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    transform: scale(.7);
}
#course .card .card-body p{
    position: relative;
    top: -10px;
    font-weight: 500;
}
#course h3, h3.saintek{
    width: max-content;
    margin: 20px;
}
.card:hover{
    margin-top: -5px;
    transition: 0.2s;
    box-shadow: 0px 0px 20px #8bb2df;
}
.btn-kirim:hover{
    background-color:#4e4eff;
    color: #fff;
}
.btn-kirim{
    background-color: #ffffff;
    color: #000090;
    border: 1px solid #000090;
}
form{
    margin: 0.25px 1.25rem;
    background-color: white;
    padding: 2.5rem 2.5rem;
    border-radius: .7rem;
    box-shadow: 0 0 0 4px #eee;
}
footer{
    padding-top: 2rem;
}
















/* Timeline CSS CP Lepage */
.container-fluid.timeline-container{
    background-color: #fff;
    color: #000090;
    height: 100%;
}
.circle{
    font-weight: bold;
    padding: 12px 20px;
    border-radius: 50%;
    background-color: #000090;
    color: #fff;
    max-height: 50px;
}
.how-it-works.row{
    display: flex;
}
.how-it-works.row .col-2{
    display: inline-flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
}
.how-it-works.row .col-2::after{
    content: '';
    position: relative;
    border-left: 3px solid #000090;
    z-index: 1;
}
.timeline div{
    padding: 0;
    height: 40px;
}
.timeline hr{
    border-top: 3px solid #000090;
    margin: 0;
    top: 17px;
    position: relative;
    opacity: 1;
}
.timeline .col-2{
    display: flex;
    overflow: hidden;
}
.timeline .corner{
    border: 3.8px solid #000090;
    width: 100%;
    position: relative;
    border-radius: 15px;
}
.timeline .top-right{
    left: 50%;
    top: -50%;
}
.timeline .top-left{
    left: -50%;
    top: -50%;
}
.timeline .left-bottom{
    left: -50%;
    top: calc(50% - 3px);
}
.timeline .right-bottom{
    left: 50%;
    top: calc(50% - 3px);
}



















/* Responsive */
@media screen and (min-width: 320px) and (max-width: 384px) {
    body {
        background-size: 100vmax;
        background-position-x: -180px;
    }
    .jumbotron{
        width: 100%;
        margin: 0 auto 0;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .jumbotron .img-container .img{
        margin-top: -20px;
        margin-bottom: 20px;
        width: 280px;
        height: 280px;
    }
    .navbar .nav-img{
        width: 250%;
        height: 100%;
        position: absolute;
        left: -10px;
        z-index: -1;
    }
    .jumbotron .register-btn{
        width: 40%;
        margin-top: 0px;
        border-radius: 2em;
        border: 0;
        background-color:#ff0080;
        border: 1px solid transparent;
        transform: scale(0.9);
        align-items: center;
    }
} 
@media screen and (min-width: 384px) and (max-width:666px) {
    body {
        background-size: 200vmax;
        background-position-x: -380px;
    }
    .jumbotron{
        width: 100%;
        margin: 0 auto 0;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .jumbotron .img-container .img{
        margin-top: -20px;
        margin-bottom: 20px;
        width: 280px;
        height: 280px;
    }
    .navbar .nav-img{
        width: 250%;
        height: 100%;
        position: absolute;
        left: -20px;
        z-index: -1;
    }
    .jumbotron .register-btn{
        width: 40%;
        margin-top: 0px;
        border-radius: 2em;
        border: 0;
        background-color:#ff0080;
        border: 1px solid transparent;
        transform: scale(0.9);
        align-items: center;
    }
}
@media screen and (min-width: 667px) and (max-width:990px) {
    body {
        background-size: 120vmax;
        background-position-x: -120px;
    }
    .jumbotron{
        width: 100%;
        margin: 0 auto 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
    .jumbotron .img-container .img{
        width: 280px;
        height: 280px;
    }
    .navbar .nav-img{
        width: 250%;
        height: 100%;
        position: absolute;
        left: -10px;
        z-index: -1;
    }
    .jumbotron .register-btn{
        width: 40%;
        margin-top: 0px;
        border-radius: 2em;
        border: 0;
        background-color:#ff0080;
        border: 1px solid transparent;
        transform: scale(0.9);
        align-items: center;
    }
}
@media screen and (min-width: 991px) and (max-width:98%) {
    body {
        background-size: 120vmax;
        background-position-x: -120px;
    }
    .jumbotron{
        width: 100%;
        margin: 0 auto 0;
        display: block;
        text-align: center;
    }
    .jumbotron .img-container .img{
        width: 280px;
        height: 280px;
    }
    .navbar .nav-img{
        width: 250%;
        height: 100%;
        position: absolute;
        left: -10px;
        z-index: -1;
    }
    .jumbotron .register-btn{
        width: 40%;
        margin-top: 0px;
        border-radius: 2em;
        border: 0;
        background-color:#ff0080;
        border: 1px solid transparent;
        transform: scale(0.9);
        align-items: center;
    }
}
@media screen and (max-width:999px) {
    #navbarNav .nav-item .nav-link{
        text-align: center;
        border: 0;
        color: #000;
    }
    #navbarNav .nav-item .nav-link:hover {
        border: 0;
        background-color: #E4F1FF;
    }
}