<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-4">Edric Galentino</h1>
            <p class="lead">Developer</p>
        </div>
    </div>
</div>
